*{
  margin: 0;
  padding: 0;
  color: #3F3D56;
  font-family: 'Roboto', sans-serif; 
  font-weight: 400;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title {
  font-size: 37px;
  margin-bottom: 22px;
  font-weight: 700;
}
.label-field {
  font-size: 14px;

}
.box {
  display: flex;
  flex-direction: column;
}
.box-2 {
  display: flex;
  justify-content:
}